include ../help-mixin

+help-page('Editor navigation')
  img(src='img/editor-navigation.png')

  p
    | The
    |
    strong editor navigation
    |
    | provides central controls for the editor.

  ol
    li
      | The
      |
      strong new
      |
      | button initialises a new image in the editor, deleting all existing layers.
    li
      | The
      |
      strong save as
      |
      | button allows for the image currently in the editor to be downloaded. Clicking the button prompts the user for a file name, and then the image is downloaded with the given file name in the browser.
    li
      strong Manual
      |
      | links to the user manual.
    li
      strong Walkthroughs
      |
      | links to the
      |
      a(href='../walkthroughs/index.html') editor walkthroughs
      | .
