doctype html
html
  head
    title User manual
    link(rel='stylesheet' href='../help.css')
  
  body
    header#help-header
      h1#help-page-heading User manual
      a#help-back-to-index(href='../index.html') Back to splash screen

    nav#manual-navigation
      ul
        each value, key in manualPagesTitles
          li
            a.navigation-link(href=key + '.html')= value
