include ../help-mixin

+help-page('Interface overview')
  img(src='img/interface-overview.png' style='width: 100%')

  ol
    li
      | The button for showing and hiding the
      |
      a(href='editor-navigation.html')
        strong editor navigation
      |.
    li
      | The
      |
      a(href='toolbar.html')
        strong toolbar
      | , containing tools that can be used to interact with the image in the editor.
    li
      | The
      |
      strong editor header
      | , containing controls for the selected tool when a tool is selected.
    li
      | The
      |
      strong canvas
      | , where the image being edited is displayed.
    li
      | The
      |
      a(href='layer-manipulation-controls.html')
        strong layer manipulation controls
      | , containing controls for creating new
      |
      a(href='layers.html') raster layers
      | , renaming layers, and deleting layers.
    li
      | The
      |
      a(href='layer-list.html')
        strong layer list
      | , containing the list of layers currently in the editor, with controls for toggling their visibility and re-ordering them.
