include ../help-mixin

+help-page('Layers')
  p There are two types of image layers in Rectangle Editor.
  
  ul.bullet-list
    li
      strong Raster layers
      |
      | are general layers of pixels, and have no additional properties. They can be created with the
      |
      a(href='layer-manipulation-controls.html') new layer button
      | , and can be interacted with the
      |
      a(href='bucket-tool.html') bucket tool
      | .
    li
      strong Rectangle layers
      |
      | are layers representing rectangles, and have properties including their position on the canvas, their size, their fill (background) color, their stroke (border) width, and their stroke colour. They can be created and interacted width using the
      |
      a(href='rectangle-tool.html') rectangle tool
      | . 
