include ../help-mixin

+help-page('Layer manipulation controls')
  img(src='img/layer-manipulation-controls.png')

  p
    | The
    |
    strong layer manipulation controls
    |
    | provide controls for creating new
    |
    a(href='layers.html') raster layers
    | , renaming layers, and deleting layers.
  
  ul.bullet-list
    li
      | Clicking the
      |
      strong create new layer
      |
      | button creates a new raster layer and adds it to the
      |
      a(href='layer-list.html') layer list
      | .
    li
      | The
      |
      strong rename
      |
      | button allows for the selected layer to be renamed. Clicking the buttons opens a prompt, in which the user can enter a new name.
    li
      | The
      |
      strong delete
      |
      | button deletes the currently selected layer, removing it from the layer list and the canvas.
