include ../help-mixin

+help-page('Layer list')
  img(src='img/layer-list.png')

  p
    | The
    |
    strong layer list
    |
    | lists the image layers in the editor. Each layer is displayed with its name and a thumbnail representing the content of the editor. Layers can be selected by clicking on them in the layer list.

  p
    | To left of the thumbnail is the
    |
    strong visibility toggle
    | , allowing the layer to either be shown or hidden. The button is a filled circle when a layer is visible, and a hollow circle when the layer is hidden.
  
  p
    | To the right of the layer name, appearing when the layer is hovered over in the layer list, are
    |
    strong arrows for re-ordering the layer list
    | . Layers are ordered in descending order of their visual priority. A preceeding layer in the layer list will render over layers below it in the canvas.
