include ../help-mixin

+help-page('Toolbar')
  img(src='img/toolbar.png')

  p
    | The toolbar provides access to tools for manipulating the image in the editor. These include the
    |
    a(href='rectangle-tool.html') rectangle tool
    |
    | and the
    |
    a(href='bucket-tool') bucket tool
    | .
  
  p Clicking an icon for a tool in the toolbar selects the tool, and it remains selected until a different tool is selected.
