@import 'src/styles/reset'

body
  display flex
  flex-direction column
  justify-content center
  align-items center
  min-height 100vh
  font-size 20px

li:not(:last-child)
  margin-bottom 1rem

#logo-container
  width 80%
  margin-bottom 3rem

#logo
  width 100%

.navigation-link
  display block
  padding 1rem
  background rgb(100, 100, 100)
  color white
  text-align center
  text-decoration none
  transition 0.5s background

  &:hover
    background rgb(150, 150, 150)
