doctype html
html
  head
    title Rectangle Editor
    link(rel='stylesheet' href='main.css')
  
  body
    h1#logo-container
      img#logo(src='logo.png')
    
    nav#navigation-links
      ul
        li
          a.navigation-link(href='editor/index.html') The editor
        li
          a.navigation-link(href='manual/index.html') Manual
        li
          a.navigation-link(href='walkthroughs/index.html') Walkthroughs
