include ../help-mixin

+help-page('Basics of using the editor')
  p
    | Welcome to Rectangle Editor! Ensure you have read the
    |
    a(href='../manual/index.html') manual
    |
    | before beginning the walkthroughs.
  
  p This walkthrough will go through the basics of using the editor, including making a new image, making an edit to it, and then downloading it.

  img(src='img/interface.png' style='width: 50%')
  
  p This is the main interface of the editor, with the layer list on the right. By default, one raster layer exists and is automatically selected, as indicated by the list item's darkened background. To the left is the toolbar, containing the rectangle tool and the bucket tool.
  
  p By default, the layer is completely transparnent, as is indicated by the grid pattern behind the canvas. In this walkthrough, we will use the bucket tool to make an edit to the image. Click the bucket icon in the toolbar to select the bucket tool.
  
  img(src='img/basics-bucket-tool.png' style='width: 50%')
    
  p The darkened background behind the bucket icon in the toolbar indicates that the bucket tool is selected, and controls for the bucket tool have now appeared in the bar across the top of the editor. The bucket tool is used to fill a raster layer with a solid colour. The tool gives us an input to select the colour, and a button to apply the tool. Clicking on the colour input (the coloured region) opens a colour selector (provided by the browser). For this example, we will select a light shade of blue. Click the apply button once you have selected the colour to fill the layer with that colour.
  
  img(src='img/basics-bucket-tool-applied.png' style='width: 50%')
  
  p The layer now appears filled with our colour, now that we have made an edit to our image, we will save and download our image. Click the icon in the top-left corner of the editor to open the editor navigation.
  
  img(src='img/basics-editor-navigation.png' style='width: 50%')
  
  p
    | The editor navigation has buttons for clearing the image and making a new image, and for downloading the image currently in the editor, as well as links to the manual and the walkthroughs. Click the
    |
    b Save as
    |
    | button to save and download the image. This will open a prompt in the browser in which you can enter a file name for the image. Type in a name and click OK. The image will now download in your browser in the same manner that any other file would download from the internet. Open the file to view your image.
  
  img(src='img/basics-product.png')
